@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&display=swap');

/*
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

    background: url(./images/illustration-woman-online-mobile.svg), url(./images/bg-pattern-mobile.svg), var(--soft-violet);
    background-repeat: no-repeat, no-repeat;
    background-size:50%,auto;
    background-position: 6rem 1rem, 4rem 5rem;


Use details tag to do this natively! Summary for question. P for answer *************************************

*/

:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%); /*Primary Text*/
    --soft-red: hsl(14, 88%, 65%); /*Primary Text*/
    --soft-violet: hsl(273, 75%, 66%); /*Gradient Background gradient*/
    --soft-blue: hsl(240, 73%, 65%); /*Gradient Background gradient*/
    --very-dark-grayish-blue: hsl(237, 12%, 33%); /*Neutral Text*/
    --dark-grayish-blue: hsl(240, 6%, 50%); /*Neutral Text*/
    --light-grayish-blue: hsl(240, 5%, 91%); /*Dividers*/
      }
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    utline: 1px solid black;
}
html{
    display: flex;
    flex-flow: column;
    justify-content: center; 
    align-items: center;
    height:100%;
    width: 100%;
    min-width: 22.5rem;
    font-family: "Kumbh Sans";
    background-color: var(--soft-violet);
    }
main{
    width: 80%;
    max-height: 30rem;
    margin: auto auto;
    display:grid;
    grid-template: 1fr 3fr/auto;
    grid-template-areas:
    "head-empty"
    "faq";
    background-color: white;
    border-radius:1rem;
    padding: 1rem 1rem;
}
.woman{
    position: absolute;
    left: 5rem;
    top: 0rem;
    z-index: 3;
    width: 55%;
}
.pattern{
    position: absolute;
    left: 4rem; 
    top: 6rem;
    z-index: 2;
}
article{
    grid-area: head-empty;
}
section{
    grid-area: faq;
    display: block;
}
h1{
    text-align: center;  
    font-size: 1.2rem;
}
.query{
    font-size: 0.8rem;
}
.bullet{
    border-bottom: 1px solid var(--light-grayish-blue);
    width:100%;
}
span{
    float: right;
}
.question{
    font-size: 1.2rem;
}
.question:hover{
    color: var(--soft-red);
    cursor: pointer;
}
footer { 
    font-size: 0.7rem;
    text-align: center; 
}
footer a { 
    color: hsl(228, 45%, 44%); 
}
.hide {
    display: none;
  }
.block{
    display: block;
}
.bold{
    font-weight: bold;
    font-size: 0.8rem;
}
.rotate{
    transform: rotate(180deg);
}
@media (min-width: 31.25em) {
    main{
        grid-template: auto/1fr 1fr;
        grid-template-areas:
        "head-empty faq";
        min-height: 40rem;
    }
    .woman{
        width: 40%;
        top: 8rem;
    }
    .pattern{
        left: -3rem; 
        top: 25rem;
        width:50%;
    }
    h1{
        font-size: 1.9rem; 
    }
    .question{
        font-size: 1.7rem;
    }
    .answer{
        font-size: 1rem;
    }
    .bold{
        font-size: 1.2rem;
    }
    section{
        margin: auto auto;
    }
    .bullet{
    padding-top: 1rem;
    padding-bottom: 1rem;
    }
}